h1 {
  font-size: 32px !important;
  font-weight: bold;
  margin-top: 40px;
}

h2 {
  font-size: 22px !important;
  font-weight: bold;
  margin-top: 30px;
}

h3 {
  font-size: 18px !important;
  font-weight: normal;
  margin-top: 25px;
}

.main-container {
  overflow-wrap: anywhere;
}

.main-container img {
  max-width: 100%;
  height: auto;
}
